<!DOCTYPE html>

<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form method="post" action="/media/upload">
            <input type="hidden" value="" id="hdf_mediaId"/>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label th:text="#{mediaType}"></label>
                    <select class="form-control" id="mediaType" tabindex="1" th:placeholder="#{mediaType}"
                            th:title="#{mediaType}">
                        <option value="" th:text="#{mediaType}" selected></option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label th:text="#{mediaPath}"></label>
                    <input autofocus class="form-control" tabindex="2" type="file" multiple
                           th:placeholder="#{mediaPath}"
                           th:title="#{mediaPath}" id="mediaPath"/>
                    <select id="fileTags" class="form-control" multiple="multiple"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label th:text="#{mediaLanguage}"></label>
                    <select class="form-control" id="mediaLanguage" tabindex="3" th:placeholder="#{mediaLanguage}"
                            th:title="#{mediaLanguage}">
                        <option value="" th:text="#{mediaLanguage}" selected></option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label th:text="#{mediaCode}"></label>
                    <input class="form-control" tabindex="4" type="number"
                           th:placeholder="#{mediaCode}"
                           th:title="#{mediaCode}" id="mediaCode"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button tabindex="3" type="submit" class="btn btn-primary"><i
                            class="fa fa-save"></i>&nbsp;<span th:text="#{save}"></span></button>
                    <button tabindex="4" type="button" class="btn btn-default" onclick="clearAllMedia();"><i
                            class="fa fa-eraser"></i>&nbsp;<span th:text="#{clean}"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function initModal() {
        $("input,select,textarea").each(function () { $(this).attr("name", $(this).attr("id")); });

        $.getJSON("/getEnum/MediaType", function (json) {
            if (json.error == null) {
                json.data.forEach(function (value, index) {
                    $("#mediaType").append("<option value='" + value.id + "'>" + value.text + "</option>");
                });
            } else {
                show_error(json.error);
            }
        });

        $.getJSON("/getEnum/LanguageType", function (json) {
            if (json.error == null) {
                json.data.forEach(function (value, index) {
                    $("#mediaLanguage").append("<option value='" + value.id + "'>" + value.text + "</option>");
                });
            } else {
                show_error(json.error);
            }
        });
        $('#fileTags').tagsinput({
            itemValue: 'id',
            itemText: 'label'
        });

        $("#mediaPath").change(function () {
            var files = $(this).get(0).files;
            $.each(files, function (i) {
                $('#fileTags').tagsinput('add', {id: files[i], label: files[i].name});
            });
        });

        $('#myModal form').validate({
            rules: {
                mediaCode: "required",
                mediaType: "required",
                mediaPath: "required",
                mediaLanguage: "required",
            },
            messages: {
                mediaCode: resources.pleaseSelect.format(resources.mediaCode),
                mediaType: resources.pleaseSelect.format(resources.mediaType),
                mediaPath: resources.pleaseSelect.format(resources.mediaPath),
                mediaLanguage: resources.pleaseEnter.format(resources.mediaLanguage),
            },
            highlight: function (element, errorClass, validClass) {
                $(element).closest("div[class^='col-md-']").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest("div[class^='col-md-']").addClass("has-success").removeClass("has-error");
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent().parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.closest('.input-group'));
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                $("#myModal .modal-content").block(blockUiOptions());
                $.blockUI(blockUiOptions());
                $.ajax({
                    type: "POST",
                    url: "/media/upload",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    data: loadMediaEntityByInput(true),
                    success: function (data) {
                        $.unblockUI();
                        if (data.error == null) {
                            $.ajax({
                                type: "POST",
                                url: "media/save",
                                dataType: "json",
                                contentType: "application/json;charset=utf-8",
                                data: JSON.stringify(loadMediaEntityByInput()),
                                success: function (data2) {
                                    $("#myModal .modal-content").unblock();
                                    if (data2.error == null) {
                                        clearAllMedia();
                                        show_success(resources.saveSuccess);
                                    } else {
                                        show_error(data2.error);
                                    }
                                },
                                error: function (header, status, error) {
                                    show_error('ajax answer post returned error: ' + header + ' ' + status + ' ' + error);
                                }
                            });
                        } else {
                            show_error(data.error);
                        }
                    },
                    error: function (header, status, error) {
                        show_error('ajax answer post returned error: ' + header + ' ' + status + ' ' + error);
                    }
                });
            }
        });
    }

    function clearAllMedia() {
        $('#myModal #fileTags').tagsinput('removeAll');
        $("#myModal input:hidden:not(#myModal #hdf_mediaId)").val('');
        $('#myModal form')[0].reset();
    }

    function loadMediaEntityByInput(isFormData) {
        if (!isNullOrEmpty(isFormData) && isFormData) {
            var formData = new FormData();
            getTagsFile($("#fileTags")).forEach(item => formData.append("files", item)
        )
            ;
            return formData;
        } else {
            var entity = {
                id: $("#myModal #hdf_mediaId").val(),
                mediaCode: $("#myModal #mediaCode").val(),
                mediaType: $("#myModal #mediaType").val(),
                mediaPath: getTagsLabel($('#myModal #fileTags')).join(','),
                mediaLanguage: $("#myModal #mediaLanguage").val(),
            };
            return entity;
        }
    }
</script>
<script type="text/javascript">
    function initModal() {
        $("input,select,textarea").each(function () { $(this).attr("name", $(this).attr("id")); });

        $.getJSON("/getEnum/MediaType", function (json) {
            if (json.error == null) {
                json.data.forEach(function (value, index) {
                    $("#mediaType").append("<option value='" + value.id + "'>" + value.text + "</option>");
                });
            } else {
                show_error(json.error);
            }
        });

        $.getJSON("/getEnum/LanguageType", function (json) {
            if (json.error == null) {
                json.data.forEach(function (value, index) {
                    $("#mediaLanguage").append("<option value='" + value.id + "'>" + value.text + "</option>");
                });
            } else {
                show_error(json.error);
            }
        });
        $('#fileTags').tagsinput({
            itemValue: 'id',
            itemText: 'label'
        });

        $("#mediaPath").change(function () {
            var files = $(this).get(0).files;
            $.each(files, function (i) {
                $('#fileTags').tagsinput('add', {id: files[i], label: files[i].name});
            });
        });

        $('#myModal form').validate({
            rules: {
                mediaCode: "required",
                mediaType: "required",
                mediaPath: "required",
                mediaLanguage: "required",
            },
            messages: {
                mediaCode: resources.pleaseSelect.format(resources.mediaCode),
                mediaType: resources.pleaseSelect.format(resources.mediaType),
                mediaPath: resources.pleaseSelect.format(resources.mediaPath),
                mediaLanguage: resources.pleaseEnter.format(resources.mediaLanguage),
            },
            highlight: function (element, errorClass, validClass) {
                $(element).closest("div[class^='col-md-']").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest("div[class^='col-md-']").addClass("has-success").removeClass("has-error");
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent().parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.closest('.input-group'));
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                $("#myModal .modal-content").block(blockUiOptions());
                $.blockUI(blockUiOptions());
                $.ajax({
                    type: "POST",
                    url: "/media/upload",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    data: loadMediaEntityByInput(true),
                    success: function (data) {
                        $.unblockUI();
                        if (data.error == null) {
                            $.ajax({
                                type: "POST",
                                url: "media/save",
                                dataType: "json",
                                contentType: "application/json;charset=utf-8",
                                data: JSON.stringify(loadMediaEntityByInput()),
                                success: function (data2) {
                                    $("#myModal .modal-content").unblock();
                                    if (data2.error == null) {
                                        clearAllMedia();
                                        show_success(resources.saveSuccess);
                                    } else {
                                        show_error(data2.error);
                                    }
                                },
                                error: function (header, status, error) {
                                    show_error('ajax answer post returned error: ' + header + ' ' + status + ' ' + error);
                                }
                            });
                        } else {
                            show_error(data.error);
                        }
                    },
                    error: function (header, status, error) {
                        show_error('ajax answer post returned error: ' + header + ' ' + status + ' ' + error);
                    }
                });
            }
        });
    }

    function clearAllMedia() {
        $('#myModal #fileTags').tagsinput('removeAll');
        $("#myModal input:hidden:not(#myModal #hdf_mediaId)").val('');
        $('#myModal form')[0].reset();
    }

    function loadMediaEntityByInput(isFormData) {
        if (!isNullOrEmpty(isFormData) && isFormData) {
            var formData = new FormData();
            getTagsFile($("#fileTags")).forEach(item => formData.append("files", item)
        )
            ;
            return formData;
        } else {
            var entity = {
                id: $("#myModal #hdf_mediaId").val(),
                mediaCode: $("#myModal #mediaCode").val(),
                mediaType: $("#myModal #mediaType").val(),
                mediaPath: getTagsLabel($('#myModal #fileTags')).join(','),
                mediaLanguage: $("#myModal #mediaLanguage").val(),
            };
            return entity;
        }
    }
</script>
