<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master}">

<th:block layout:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/select2-bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/lib/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/messages/select2.fa.js}"></script>
    <style>
        .panel_toolbox {
            min-width: 0;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <input type="hidden" value="/api/v1/station" id="requestMapping"/>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{searchA} + ' ' + #{nearestStation}"></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form>
                        <input type="hidden" value="" id="hdf_id"/>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label th:text="#{latitude}"></label>
                                <input  class="form-control" tabindex="1" type="number" th:placeholder="#{latitude}"
                                       th:title="#{latitude}" id="latitude"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:text="#{longitude}"></label>
                                <input class="form-control" tabindex="2" type="number" th:placeholder="#{longitude}"
                                       th:title="#{longitude}" id="longitude"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label th:text="#{company}"></label>
                                <th:block
                                        th:replace="fragments/select2 :: select2('3',#{company}, 'company', '/api/v1/company/findAllSelect','{title:params.term}',false)"></th:block>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <button tabindex="4" type="submit" class="btn btn-info"><i
                                        class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                                <button tabindex="5" type="button" class="btn btn-default" onclick="clearAll();"><i
                                        class="fa fa-eraser"></i>&nbsp;<span th:text="#{clean}"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{table} + ' ' + #{nearestStation}"></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped table-bordered table-hover table-condensed dt-responsive nowrap" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{row}"></th>
                            <th th:text="#{name}"></th>
                            <th th:text="#{latitude}"></th>
                            <th th:text="#{longitude}"></th>
                            <th th:text="#{company}"></th>
                            <th th:text="#{distance}"></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th th:text="#{row}"></th>
                            <th th:text="#{name}"></th>
                            <th th:text="#{latitude}"></th>
                            <th th:text="#{longitude}"></th>
                            <th th:text="#{company}"></th>
                            <th th:text="#{distance}"></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript" th:src="@{/js/script/nearestStation.js}"></script>
</th:block>
</html>